@import "@flaticon/flaticon-uicons/css/all/all.css";


#root {
  margin: 0 auto;
  display: flex;
  position: relative;
  width: 100%;
}

button{
  cursor: pointer;
  border: 0;
  background-color: #211C6A;
}
button:hover{
  filter: brightness(125%);
}
button:active{
  filter: contrast(150%);
}

.canvas-container{
  flex: 1;
  overflow: hidden;
  width: 100%;
  position: relative;
}
#canvas{
  width: 100%;
  height: 100%;
}

#side-panel{
  width: 20%;
  max-width: 800px;
  display: flex;
  flex-direction: column;
  background-color: grey;
  height: 100vh;
  position: relative;
}

#panel-head{
  height: 50px;
  display: flex;
}

#panel-body{
  height: calc(100% - 50px);
}

.section-heading{
  flex: 1;
}

#abs-buttons{
  position: absolute;
  top: 10px;
  left: 10px;
}

#anim-player{
  display: flex;
  background-color: darkgrey;
  width: 100%;
  align-items: center;
  justify-content: space-between;
  gap:2em;
  padding: 1em 2em;
  position: relative;
}

.toggle-btn{
  position: absolute;
  transform: rotate(90deg);
  left: 10px;
}
.toggle-btn.close-btn{
  bottom: 55px;
}
.toggle-btn.open-btn{
  bottom: 0;
}

#pre-canvas{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
}

.main-container{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex: 1;
  height: 100vh;
}

#slider{
  width: 7px;
  background-color: black;
  cursor: col-resize;
  height: 100vh;
}

#slider.hover{
  background-color: lightgrey;
}

#slider.no-hver{
  background-color: black;
}

.upload-input{
  display: none;
}

#toaster{
  position: absolute;
  top: 15px;
  left: 50%;
  transform: translateX(-50%);
  background-color: blanchedalmond;
  padding: 15px;
  color: black;
}

#toaster.warning{
  background-color: orange;
}

#toaster.error{
  background-color: red;
  color: white;
}

#toaster.green{
  background-color: greenyellow;
}

#loading{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: blanchedalmond;
  padding: 30px;
  color: black;
}

.side-panel-toggle{
  position: absolute;
  top: 10px;
  cursor: pointer;
}
#enable-side-panel{
  right: 0;
}
#disable-side-panel{
  left: -30px;
}

.flex{
  display: flex;
  gap: 5px;
  flex-wrap: wrap;
}

.selected{
  background-color: darkgray;
  color: black;
  font-weight: bold;
}

#heirarchy-container{
  overflow-x: hidden;
  overflow-y: auto;
  width: 100%;
  height: calc(100% - 100px)
}

#mesh-section{
  height: 100%;
}

.unit-name{
  cursor: pointer;
  flex: 1;
  padding: 0.2em 0.25em;
}

.no-break{
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.unit-list{
  list-style-type: none;
  padding-left: 20px;
}

.unit-list:nth-child(1){
  padding-left: 0;
}

.unit{
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.unfold-btn{
  cursor: pointer;
}

.details-btn{
  cursor: pointer;
}

.details-list{
  list-style-type: none;
}

#anim-slider{
  flex: 1;
  display: block;
}

.abs-btn{
  border-radius: 0.5em;
  font-size: 1.2em;
  text-align: center;
  height: 2.25em;
  width: 2.25em;
  line-height: 2.4em;
}
.upload-btn.big-btn{
  font-size: 1.25em;
  padding: 1em 3em;
  border-radius: 0.5em;
}

#play-btn{
  background: none;
  color: #211C6A;
  font-size: 1.2em;
}

.gap-left{
  margin-left: 0.3em;
}