@import "@flaticon/flaticon-uicons/css/all/all.css";

:root {
--main-color1: #211C6A;
--main-color2: cornflowerblue;
--light-bg-color: lightgrey;
--dark-bg-color: darkgrey;
--very-dark-bg-color: rgb(105, 105, 105);
--white-color: white;
--normal-grey: grey;
}

#root {
  margin: 0 auto;
  display: flex;
  position: relative;
  width: 100%;
}

button{
  cursor: pointer;
  border: 0;
  background-color: var(--main-color1);
}
button:hover{
  filter: contrast(150%);
}
button:active{
  filter: contrast(200%);
}

.canvas-container{
  flex: 1;
  overflow: hidden;
  width: 100%;
  position: relative;
}
#canvas{
  width: 100%;
  height: 100%;
}

#side-panel{
  width: 20%;
  min-width: 240px;
  display: flex;
  flex-direction: column;
  background-color: var(--normal-grey);
  height: 100vh;
  position: relative;
}

#panel-head{
  height: 50px;
  display: flex;
}

#panel-body{
  height: calc(100% - 50px);
}

.section-heading{
  flex: 1;
  font-size: 0.9em;
  background-color: var(--very-dark-bg-color);
}
.section-heading.selected{
  background-color: var(--main-color1);
}

#abs-buttons{
  position: absolute;
  top: 10px;
  left: 10px;
}

#anim-player{
  display: flex;
  align-items: center;
  justify-content: space-around;
  background-color: var(--normal-grey);
  width: 100%;
  align-items: center;
  justify-content: space-between;
  gap:1em;
  padding: 1em 1.5em;
  position: relative;
}

#anim-slider{
  flex: 1;
  display: block;
}

#anim-dropdown{
  max-width: 200px;
  background-color: var(--dark-bg-color);
  color: black;
  padding: 0.5em;
  border-radius: 0.4em;
  outline: none;
  cursor: pointer;
}

#anim-player input[type=range]{
  accent-color: var(--main-color1);
  cursor: pointer;
}

.toggle-btn{
  position: absolute;
  left: 20px;
  cursor: pointer;
  padding: 0.7em 0.8em 0.4em 0.8em;
  background-color: var(--very-dark-bg-color);
  border-radius: 0.75em 0.75em 0 0;
}
.toggle-btn.close-btn{
  bottom: 65px;
  background-color: var(--very-dark-bg-color);
}
.toggle-btn.open-btn{
  bottom: 0;
  background-color: var(--main-color1);
}

#pre-canvas{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  background-color: var(--dark-bg-color);
}

.main-container{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex: 1;
  height: 100vh;
}

#slider{
  width: 7px;
  background-color: var(--dark-bg-color);
  cursor: col-resize;
  height: 100vh;
}

#slider.hover{
  background-color: var(--light-bg-color);
}

#slider.no-hover{
  background-color: var(--dark-bg-color);
}

.upload-input{
  display: none;
}

#toaster{
  position: absolute;
  top: 15px;
  left: 50%;
  transform: translateX(-50%);
  background-color: blanchedalmond;
  padding: 15px;
  color: black;
}

#toaster.warning{
  background-color: orange;
}

#toaster.error{
  background-color: red;
  color: white;
}

#toaster.green{
  background-color: greenyellow;
}

.side-panel-toggle{
  position: absolute;
  top: 25px;
  cursor: pointer;
  padding: 0.75em 0.6em 0.5em 0.7em;
  background-color: var(--very-dark-bg-color);
  border-radius: 0.75em 0 0 0.75em;
}
#enable-side-panel{
  right: 0;
  background-color: var(--main-color1);
}
#disable-side-panel{
  left: -2.8em;
  background-color: var(--very-dark-bg-color);
}

.flex{
  display: flex;
  gap: 5px;
  flex-wrap: wrap;
  align-items: center;
}

.basic-flex{
  display: flex;
  align-items: center;
}

.selected{
  background-color: var(--very-dark-bg-color);
}

#heirarchy-container{
  overflow-x: hidden;
  overflow-y: auto;
  width: 100%;
  height: calc(100% - 10em)
}

#mesh-section{
  height: 100%;
}

.unit-name{
  cursor: pointer;
  padding: 0.2em 0.25em;
  font-size: 0.9em;
}

.no-break{
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.unit-list{
  list-style-type: none;
  padding-left: 20px;
}

.unit-list:nth-child(1){
  padding: 0;
  margin: 0;
}

.unit{
  display: grid;
  grid-template-columns: 2em auto 2em 2em;
}

.unfold-btn{
  cursor: pointer;
  background: none;
  font-size: 0.75em;
  line-height: 0.75em;
}

.details-btn{
  cursor: pointer;
  background: none;
  line-height: 0.75em;
}

.eye-btn{
  cursor: pointer;
  background: none;
  font-size: 1em;
  line-height: 0.75em;
}

.details-list{
  list-style-type: none;
  padding-left: 60px;
}
.details-list li{
  font-size: small;
  padding: 0.2em 0.25em;
  color: rgb(18, 18, 18);
}

.abs-btn{
  border-radius: 0.4em;
  font-size: 1.2em;
  text-align: center;
  height: 2.25em;
  width: 2.25em;
  line-height: 2.4em;
}
.upload-btn.big-btn{
  font-size: 1.25em;
  padding: 1em 3em;
  border-radius: 0.5em;
}

#play-btn{
  background: none;
  color: var(--white-color);
  font-size: 1.2em;
}

.gap-left{
  margin-left: 0.4em;
}
.gap-right{
  margin-right: 0.4em;
}
.xsmall{
  font-size: smaller;
}
.medium{
  font-size: 0.9em;
}
.black{
  color: black;
}
.checkbox-input{
  width: 16px;
  height: 16px;
  accent-color: var(--main-color1);
  cursor: pointer;
}
.radio-label{
  display: flex;
  align-items: start;
  gap: 5px;
  margin-left: 0.75em;
}
.radio-label input{
  margin: 0;
  cursor: pointer;
}
.radio-label:nth-of-type(1){
  margin-bottom: 0.5em;
}

#focus-outliner-btn{
  width: 100%;
  color: black;
  background-color: var(--dark-bg-color);
  padding: 0.4em;
  border-radius: 0.3em;
  margin: 0.5em 0 0.9em 0;
}

#show-all-btn{
  color: black;
  background-color: var(--dark-bg-color);
  padding: 0.2em 0.5em;
  border-radius: 0.3em;
}

.fi{
  pointer-events: none;
}

#scene-section{
  padding: 0.75em;
}
#scene-section h4{
  margin-bottom: 0.75em;
  font-size: 15px;
  margin-top: 20px;
}
#scene-section h4:nth-of-type(1){
  margin-top: 1em;
}

.stats-grid{
  display: grid;
  grid-template-columns: auto auto;
  gap: 5px;
  margin-left: 10px;
}

.env-btn{
  padding: 0.6em;
  border-radius: 0.6em;
  background-color: var(--very-dark-bg-color);
}
.env-btn.selected{
  background-color: var(--main-color1);
}

#loading-container{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: var(--main-color1);
  padding: 30px;
  border-radius: 50%;
}
#loading-bg{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: var(--dark-bg-color);
}

.loader {
  width: 50px;
  aspect-ratio: 1;
  color: var(--white-color);
  --_c:no-repeat radial-gradient(farthest-side,currentColor 92%,#0000);
  background: 
    var(--_c) 50% 0   /12px 12px,
    var(--_c) 50% 100%/12px 12px,
    var(--_c) 100% 50%/12px 12px,
    var(--_c) 0    50%/12px 12px,
    var(--_c) 50%  50%/12px 12px,
    conic-gradient(from 90deg at 4px 4px,#0000 90deg,currentColor 0)
    -4px -4px/calc(50% + 2px) calc(50% + 2px);
  animation: l8 1s infinite linear;
}
@keyframes l8 {to{transform: rotate(.5turn)}}